img,
picture,
video,
canvas {
    display: block;
    /* Supprime l'espace sous l'image (inline) */
    max-width: 100%;
    /* Ne dépasse jamais son conteneur */
    height: auto;
    /* Garde les proportions */
}

figure {
    margin: 0;
}

html,
body {
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.u-noscroll {
    position: fixed;
    /* verrouille la page à la position courante */
    inset: 0;
    /* top:0; right:0; bottom:0; left:0 */
    width: 100%;
    overflow: hidden;
    /* désactive le scroll */
    touch-action: none;
    /* optionnel : désactive le scroll tactile */
}

body {
    color: var(--bleu);
    font-family: var(--font-sans);
}

h1 {
    color: var(--blanc, #FFF);
    text-align: center;
    font-family: var(--font-deco);
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    font-family: var(--font-sans);
    color: var(--bleu);
}

h3 {
    font-family: var(--font-deco);
    color: var(--blanc);
}

input,
textarea {
    width: 100%;
    padding: 10px 14px;
    border-radius: 20px;
    border: 2px solid #a6c8e8;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    background: #fff;
}

textarea {
    border-radius: 15px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}