/* couleurs */
:root {
    /* Mode 1 */
    /* color */
    --beige: #d2b48c;
    --blanc: #ffffff;
    --bleu: #487eb0;
    --bleu-ciel: #87ceeb;
    --gris: #787878;
    --gris-clair: #dddddd;
    --jaune-clair: #e9e69a;
    --menthe: #aaf0d1;
    --noir: #000000;
    --vert: #50c878;
    --vert-feuille: #408156;
    --vert-fonce: #2a5c31;
    --vert-pale: #6baa89;
}

/* typographie */
:root {
    /* Mode 1 */
    /* number */
    --text-texts: 0.875rem;
    --text-paragraphs: 0.9375rem;
    --text-sub-titles: 1.25rem;
    --text-sub-titles-big: 2rem;
    --text-titres: 2.5rem;
    --text-tiny-titles: 3rem;
    --text-big-titles: 6rem;
    /* string */
    --font-deco: Fleur De Leah;
    --font-sans: Kumbh Sans;
}