.header {
    background-color: var(--vert-fonce);
    position: sticky;
    top: 0;
    z-index: 15;
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.header__link {
    z-index: 16;
    padding: 0.2rem;
    padding-left: 0.5rem;

}


.header__menu-btn {
    z-index: 10;
    width: 48px;
    height: 48px;
    padding: 0 0 0 0;
    margin-right: 0.8rem;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border: none;
}


.menu-btn__bar {
    width: 100%;
    height: 4px;
    background: #e5e5e5;
    border-radius: 2px;
    transition: .3s ease;
}

.menu-btn[aria-expanded="true"] {
    .menu-btn__bar--top {
        transform: translateY(12px) rotate(45deg);
    }

    .menu-btn__bar--middle {
        opacity: 0;
    }

    .menu-btn__bar--bottom {
        transform: translateY(-12px) rotate(-45deg);
    }
}