.section {
    padding: 2rem;
}

.section__intro {
    display: flex;
    justify-content: center;
    position: relative;
    top: -14rem;
    color: var(--vert-fonce, #2A5C31);
    text-align: center;
    font-family: var(--font-sans);
    font-size: 1.50rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}