.about {
    margin: 2rem;
    position: relative;
    top: -5rem;
}


.about__text {
    color: var(--noir);
    font-family: var(--font-sans);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1.5rem;
}

.about__subtitle {
    color: var(--bleu);
    font-family: var(--font-sans);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.team {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.team__member {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.team__avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.team__info {
    display: flex;
    flex-direction: column;
}

.team__name {
    font-weight: 700;
    color: var(--noir);
    font-size: 1rem;
}

.team__role {
    font-size: 0.875rem;
    color: var(--gris);
}

.about__volunteers {
    color: var(--noir);
    margin-top: 2rem;
    font-size: 1rem;
}

.values {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.value__title {
    font-family: var(--font-deco);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0rem;
    margin-top: 2rem;
}

.value__title--eco {
    color: var(--vert-feuille);

}

.value__title--conv {
    color: var(--bleu);

}

.value__title--incl {
    color: var(--beige);

}

.value__list {
    margin: 0;
    padding-left: 1rem;
    color: var(--noir);
    font-size: 0.95rem;
}

.value__desc {
    margin: 0;
    color: var(--noir);
    font-size: 0.95rem;
}