.btn-cta__place {
    color: var(--bleu);
    text-align: center;
    font-family: var(--font-sans);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    border-radius: 1.25rem;
    background: var(--jaune-clair);
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
    padding: 2rem 2.4rem;
    text-decoration: none;
    display: inline-flex;

}

.btn-container__place {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    position: relative;
    top: -11rem;
}