.carousel__artiste {
    position: relative;
    top: -6rem;

}

.carousel__artiste__date {
    color: var(--vert-fonce);
    text-align: center;
    font-family: "Kumbh Sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.carousel__artiste__vendredi__container {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding-bottom: 1rem;
}

.carousel__artiste__samedi__container {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding-bottom: 1rem;
    text-decoration: none;
}

.carousel__artiste__vendredi__item {
    min-width: 250px;
    max-height: 300px;
    margin-right: 0;

}

.carousel__artiste__samedi__item {
    min-width: 250px;
    max-height: 300px;
    margin-right: 0;
    text-decoration: none;
}

.carousel__artiste__img {
    position: relative;
    width: 250px;
    height: 300px;
    border-radius: 1.25rem;
    overflow: hidden;
    background: none;
    margin-bottom: 1rem;
    margin-right: 0;
    object-fit: cover;
}

.carousel__artiste__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__artiste__img::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 42.12%, rgba(0, 0, 0, 0.75) 89.17%);
}

.carousel__artiste__name {
    text-decoration: none;
    text-align: left;
    font-family: var(--font-sans);
    margin-left: 0.8rem;
    position: relative;
    top: -9rem;
    color: var(--blanc);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 3;
}

.carousel__artiste__style {
    text-decoration: none;
    color: var(--gris-clair);
    font-family: var(--font-sans);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: -10rem;
    margin-left: 0.8rem;
    margin-bottom: -6.5rem;
    z-index: 3;
}

.carousel__artiste__scene {
    text-decoration: none;
    text-align: left;
    font-family: var(--font-sans);
    margin-left: 0.8rem;
    position: relative;
    top: -4rem;
    color: var(--blanc);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 3;
}

.carousel__artiste__time {
    text-decoration: none;
    color: var(--gris-clair);
    font-family: var(--font-sans);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: -5rem;
    margin-left: 0.8rem;
    z-index: 3;
}