.contact__title {
    color: var(--noir);
    text-align: center;
    font-family: var(--font-sans);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2rem;
}

.contact__field {
    color: var(--noir, #000);
    /* paragraphe */
    font-family: "Kumbh Sans";
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 1rem;
}

.contact__star {
    color: var(--bleu-ciel);
}

.contact__row {
    display: flex;
    gap: 1.5rem;
}

.contact__submit-btn__container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.contact__submit-btn {
    text-align: center;
    color: var(--vert-fonce);
    background: var(--bleu-ciel);
    padding: 1.2rem 3rem 1.2rem 3rem;
}

.contact__infos__title {
    color: var(--noir);
    font-family: var(--font-sans);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contact__socials__links {
    display: flex;
    color: var(--noir);
    font-family: var(--font-sans);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact__infos__links {
    color: var(--noir);
    font-family: var(--font-sans);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact__infos__links a {
    text-decoration: underline;
}

.contact__socials__links a {
    text-decoration: underline;
}

.logo-socials {
    margin-left: -2rem;
    margin-right: 1rem;
}

.contact__socials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}