.menu {
    position: fixed;
    inset: 0;
    top: 4.5rem;
    z-index: 2;
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--vert-feuille);
}



.menu[hidden] {
    visibility: hidden;
}



.menu__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0;
    margin-top: 2rem;
}

.menu__link {
    color: var(--blanc);
    font-family: var(--font-sans);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.menu__link:hover {
    text-decoration: underline;
}