.pages-cards {
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0rem;
    position: relative;
    top: -13rem;
    margin-bottom: -8rem;
}

.pages-cards__card {
    width: 18.75rem;
    height: 9.5625rem;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-decoration: none;
}

.pages-cards__card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.25);
}

.pages-cards__img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.pages-cards__title {
    position: relative;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding-top: 1rem;
    color: var(--blanc);
    text-align: center;
    font-family: var(--font-sans);
    font-size: 1.3rem;
    font-weight: 700;
    line-height: normal;
    background-color: var(--bleu);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 10.625rem;
    height: 2.3125rem;

}

.pages-cards__card:nth-child(1) .pages-cards__title {
    background-color: var(--bleu);
}

.pages-cards__card:nth-child(2) .pages-cards__title {
    background-color: var(--vert-feuille);
}

.pages-cards__card:nth-child(3) .pages-cards__title {
    background-color: var(--beige);
    color: var(--noir);
    /* adjust text color if needed */
}

.pages-cards__card:nth-child(4) .pages-cards__title {
    background-color: var(--jaune-clair);
    color: var(--noir);
}