@import "vendors/normalize.css";

/* Utils */
@import "utils/variables.css";

/* Base */
@import "base/main.css";

/* Layout */
@import "layout/header.css";
@import "layout/footer.css";
@import "layout/section.css";

/* Components */
@import "components/menu.css";
@import "components/hero.css";
@import "components/buttons.css";
@import "components/pages-cards.css";
@import "components/hero-pages.css";
@import "components/form.css";
@import "components/card-carousel-artiste.css";
@import "components/card-scenes.css";
@import "components/about.css";